logs
test/run-management-api.sh
test/run-smtp-bridge.sh
test/run-participant-api.sh
test/participant-api.yaml
test/smtp-bridge.yaml
*-api-routes.txt
storage
serviceInfos.json
test/jobs
blocked_passwordlist.txt
management-api.yaml
study-daily-data-export.yaml
smtp-bridge-emulator.yaml
run-smtp-bridge-emulator.sh
build-info.yaml

# Compiled binaries
services/*/management-api
services/*/participant-api
services/*/smtp-bridge
jobs/*/user-management
jobs/*/messaging
jobs/*/study-timer
jobs/*/study-daily-data-export
jobs/*/db-migration
